<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/assign4/src/MainProgram.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="MainProgram"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-p /course/cs4500wc/Assignments/A4/Patterns/flower.gif -s /course/cs4500wc/Assignments/A4/Sources/ac1000.jpg"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="assign4"/>
</launchConfiguration>
